html {
  scroll-behavior: smooth;
  user-select: none; /* Standard syntax */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0065b8; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

  .custom-bg-body-tertiary {
    background-color: #ff7e26;
  }

  /* Custom styles for nav-underline */
  .custom-nav .nav-link {
    color: #ffffff; /* Warna teks link navbar */
  }

  .custom-nav .nav-link:hover {
    color: #26f4ff; /* Warna teks link navbar saat di-hover */
  }

  .custom-nav .nav-link.active {
    color: #fffb00; /* Warna teks link aktif */
  }


  .dashboard-container {
    display: flex;
    flex-direction: column; /* Change the direction to column */
    justify-content: space-between;
    padding: 5px;
    flex-wrap: wrap;
  }

  .dashboard {
    flex: 1;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  }

  .iframe-container {
    width: 100%;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  iframe {
    flex: 1;
    height: 270px;
    border: 2px solid #00b3b3;
    border-radius: 10px;
    box-sizing: border-box;
  }

  /* Style for iframe to fill the container */
  .iframe-container iframe {
    width: 100%;
  }

  .stasiun-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    transition: transform 0.2s ease-in-out;
  }

  .stasiun-title:hover {
    transform: scale(1.1);
  }

  #welcome-message {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background.png');
    background-size: cover;
    background-position: center bottom;
    color: #000;
    padding: 130px;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .info-text {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #000;
  }

  #map {
    height: 400px;
    border-radius: 8px;
  }

  .rata-rata {
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    color: #333;
  }
